sample_modernflows/453ae72c-0219-f111-8341-6045bd51cef8/Excel-453AE72C-0219-F111-8341-6045BD51CEF8.json
{
  "properties": {
    "connectionReferences": {
      "shared_excelonlinebusiness": {
        "api": {
          "name": "shared_excelonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedexcelonlinebusiness_90ce9"
        },
        "runtimeSource": "invoker"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_c6193"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Import Share Point Site (ca_ImportSharePointSite)": {
          "defaultValue": "https://stellar2026.sharepoint.com/sites/A_test",
          "type": "String",
          "metadata": {
            "schemaName": "ca_ImportSharePointSite"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "94875565-1bc2-4df8-b12a-ab8f26738212"
          }
        }
      },
      "actions": {
        "表内に存在する行を一覧表示": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "source": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
              "drive": "b!bmH6a0vhFkCfG98_LiiFzjaleRugULhOlEdqy0I8K2dYRBTqgdMNQ5C8fA0h6LCE",
              "file": "01S6JYSXNABKERKH7SQVC2TSVPC6VTXZRO",
              "table": "{00000000-000C-0000-FFFF-FFFF00000000}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
              "operationId": "GetItems",
              "connectionName": "shared_excelonlinebusiness"
            }
          },
          "runAfter": {},
          "runtimeConfiguration": {
            "paginationPolicy": {
              "minimumItemCount": 5000
            }
          },
          "metadata": {
            "01S6JYSXPNEJNOGQRQLJDI26UHERYCXRAD": "/01_test/test/詳細データ管理テーブル.xlsx",
            "tableId": "{00000000-000C-0000-FFFF-FFFF00000000}",
            "01S6JYSXNABKERKH7SQVC2TSVPC6VTXZRO": "/01_test/test/点検結果.xlsx"
          }
        },
        "点検結果テーブルデータでループ": {
          "type": "Foreach",
          "foreach": "@outputs('表内に存在する行を一覧表示')?['body/value']",
          "actions": {
            "行の削除": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
                  "drive": "b!bmH6a0vhFkCfG98_LiiFzjaleRugULhOlEdqy0I8K2dYRBTqgdMNQ5C8fA0h6LCE",
                  "file": "01S6JYSXNABKERKH7SQVC2TSVPC6VTXZRO",
                  "table": "{00000000-000C-0000-FFFF-FFFF00000000}",
                  "idColumn": "AI点検結果",
                  "id": "@items('点検結果テーブルデータでループ')?['AI点検結果']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "DeleteItem",
                  "connectionName": "shared_excelonlinebusiness"
                }
              },
              "metadata": {
                "01S6JYSXPNEJNOGQRQLJDI26UHERYCXRAD": "/01_test/test/詳細データ管理テーブル.xlsx",
                "tableId": "{00000000-000C-0000-FFFF-FFFF00000000}",
                "01S6JYSXNABKERKH7SQVC2TSVPC6VTXZRO": "/01_test/test/点検結果.xlsx"
              }
            }
          },
          "runAfter": {
            "表内に存在する行を一覧表示": [
              "Succeeded"
            ]
          }
        },
        "対象の点検結果テーブルデータ": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "ca_ais"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "点検結果テーブルデータでループ": [
              "Succeeded"
            ]
          }
        },
        "点検結果データ毎に処理を実施する": {
          "type": "Foreach",
          "foreach": "@outputs('対象の点検結果テーブルデータ')?['body/value']",
          "actions": {
            "表に行を追加": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
                  "drive": "b!bmH6a0vhFkCfG98_LiiFzjaleRugULhOlEdqy0I8K2dYRBTqgdMNQ5C8fA0h6LCE",
                  "file": "01S6JYSXNABKERKH7SQVC2TSVPC6VTXZRO",
                  "table": "{00000000-000C-0000-FFFF-FFFF00000000}",
                  "item/点検項目ID": "@item()?['ca_inspection_id']",
                  "item/作成日": "@item()?['createdon']",
                  "item/プロンプトID (検索)": "@item()?['_ca_prompt_id_value@OData.Community.Display.V1.FormattedValue']",
                  "item/帳票項目": "@item()?['ca_document_item']",
                  "item/点検内容": "@item()?['ca_inspection_details']",
                  "item/点検結果": "@item()?['ca_ai_inspection_details']",
                  "item/AI点検結果": "@item()?['ca_aiid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "AddRowV2",
                  "connectionName": "shared_excelonlinebusiness"
                }
              },
              "metadata": {
                "01S6JYSXPNEJNOGQRQLJDI26UHERYCXRAD": "/01_test/test/詳細データ管理テーブル.xlsx",
                "tableId": "{00000000-000C-0000-FFFF-FFFF00000000}",
                "01S6JYSXNABKERKH7SQVC2TSVPC6VTXZRO": "/01_test/test/点検結果.xlsx"
              }
            }
          },
          "runAfter": {
            "対象の点検結果テーブルデータ": [
              "SUCCEEDED"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}