sample_modernflows/aa337d9d-d00b-f111-8406-0022486402c1/F-05-006_-AA337D9D-D00B-F111-8406-0022486402C1.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_155c9"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_65d68"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "入力を指定してください",
                  "title": "payload",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "入力を指定してください",
                  "title": "prompt",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "入力を指定してください",
                  "title": "属性情報",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "入力を指定してください",
                  "title": "ATLAS登録データ",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "b9a3d4aa-1340-44fa-8267-71be60e3be52"
          }
        }
      },
      "actions": {
        "Try": {
          "type": "Scope",
          "actions": {
            "メイン書類の取得": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://stellar2026.sharepoint.com/sites/A_test",
                  "path": "@first(json(body('JSON_の解析(親フローからの情報を解析)')?['main_document_url']))['path']",
                  "inferContentType": true
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "GetFileContentByPath",
                  "connectionName": "shared_sharepointonline"
                }
              },
              "runAfter": {
                "JSON_の解析(属性情報を解析)": [
                  "Succeeded"
                ]
              }
            },
            "プロンプトを実行する（メイン書類読取り）": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "recordId": "4bc9d56d-9d5a-434d-83d2-6d6a44c8cd81",
                  "item/requestv2/Prompt": "@body('JSON_の解析(AIプロンプトの情報を解析)')?['prompt1']",
                  "item/requestv2/_30e1_30a4_30f3_66f8_985e/base64Encoded": "@base64(body('メイン書類の取得'))"
                },
                "host": {
                  "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                  "operationId": "aibuilderpredict_customprompt",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "メイン書類の取得": [
                  "Succeeded"
                ]
              }
            },
            "プロンプトを実行する（住所漢字とカナの整合チェック）": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "recordId": "327125d1-564c-4a6f-90ca-3393f14a047d",
                  "item/requestv2/prompt": "@body('JSON_の解析(AIプロンプトの情報を解析)')?['prompt2']",
                  "item/requestv2/_753b_50cf_60c5_5831": "@outputs('プロンプトを実行する（メイン書類読取り）')?['body/responsev2/predictionOutput/text']",
                  "item/requestv2/inputdata": "@triggerBody()?['text_3']"
                },
                "host": {
                  "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                  "operationId": "aibuilderpredict_customprompt",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "AI実行結果ログの設定": [
                  "Succeeded"
                ]
              }
            },
            "住所漢字と住所カナが一致しているか": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('プロンプトを実行する（住所漢字とカナの整合チェック）')?['body/responsev2/predictionOutput/structuredOutput/_6574_54815cb838fe57a9d952640d907f47d288']",
                      "OK"
                    ]
                  }
                ]
              },
              "actions": {
                "AFLAC住所マスタ突合": {
                  "type": "Scope",
                  "actions": {
                    "子フローの実行（F05-008_住所マスタ突合）": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "91e9be79-d00b-f111-8406-0022486402c1"
                        },
                        "body": {
                          "text": "@string(body('JSON_の解析(親フローからの情報を解析)'))",
                          "text_1": "@string(body('JSON_の解析(AIプロンプトの情報を解析)'))",
                          "text_2": "@string(body('JSON_の解析(属性情報を解析)'))",
                          "text_3": "@{string(outputs('プロンプトを実行する（メイン書類読取り）')?['body/responsev2/predictionOutput/structuredOutput/_5951_7De0d2d6017a24796ccdca1717dbe139d6'])}\n",
                          "text_4": "''"
                        }
                      }
                    },
                    "子フローの実行判定": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('子フローの実行（F05-008_住所マスタ突合）')?['status']",
                              "Success"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "JSON_の解析": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('子フローの実行（F05-008_住所マスタ突合）')?['回復結果']",
                            "schema": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "check_result": {
                                    "type": "string"
                                  },
                                  "document_item": {
                                    "type": "string"
                                  },
                                  "document_recovery_value": {
                                    "type": "string"
                                  },
                                  "recovery_reason": {
                                    "type": "string"
                                  },
                                  "recovery_process": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "配列変数に追加": {
                          "type": "Foreach",
                          "foreach": "@body('JSON_の解析')",
                          "actions": {
                            "回復結果を設定（住所マスタ突合）": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "一次チェック回復結果",
                                "value": "@item()"
                              }
                            }
                          },
                          "runAfter": {
                            "JSON_の解析": [
                              "SUCCEEDED"
                            ]
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "異常終了結果の継承": {
                            "type": "Response",
                            "kind": "PowerApp",
                            "inputs": {
                              "schema": {
                                "type": "object",
                                "properties": {
                                  "回復結果": {
                                    "title": "回復結果",
                                    "type": "string",
                                    "x-ms-content-hint": "TEXT",
                                    "x-ms-dynamically-added": true
                                  },
                                  "status": {
                                    "title": "status",
                                    "type": "string",
                                    "x-ms-content-hint": "TEXT",
                                    "x-ms-dynamically-added": true
                                  },
                                  "errorinfo": {
                                    "title": "errorInfo",
                                    "type": "string",
                                    "x-ms-content-hint": "TEXT",
                                    "x-ms-dynamically-added": true
                                  }
                                },
                                "additionalProperties": {}
                              },
                              "statusCode": 200,
                              "body": {
                                "回復結果": "@{body('子フローの実行（F05-008_住所マスタ突合）')?['回復結果']}",
                                "status": "@{body('子フローの実行（F05-008_住所マスタ突合）')?['status']}",
                                "errorinfo": "@{body('子フローの実行（F05-008_住所マスタ突合）')?['errorinfo']}"
                              }
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "子フローの実行（F05-008_住所マスタ突合）": [
                          "Succeeded"
                        ]
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "住所漢字・住所カナ補完": {
                    "type": "Scope",
                    "actions": {
                      "プロンプトを実行する(住所漢字・住所カナ補完)": {
                        "type": "OpenApiConnection",
                        "inputs": {
                          "parameters": {
                            "recordId": "174e93a7-c8a0-45e6-b9c0-48e971a94deb",
                            "item/requestv2/_753b_50cf_60c5_5831": "@outputs('プロンプトを実行する（メイン書類読取り）')?['body/responsev2/predictionOutput/text']",
                            "item/requestv2/Inputdata": "@triggerBody()?['text_3']",
                            "item/requestv2/Prompt": "@body('JSON_の解析(AIプロンプトの情報を解析)')?['prompt5']"
                          },
                          "host": {
                            "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                            "operationId": "aibuilderpredict_customprompt",
                            "connectionName": "shared_commondataserviceforapps"
                          }
                        }
                      },
                      "プロンプトを実行する(住所漢字・住所カナ補完)の実行結果": {
                        "type": "Foreach",
                        "foreach": "@outputs('プロンプトを実行する(住所漢字・住所カナ補完)')?['body/responsev2/predictionOutput/structuredOutput/results']",
                        "actions": {
                          "補完できたか": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['check_result']",
                                    "OK"
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "住所カナを補完したか": {
                                "type": "If",
                                "expression": {
                                  "and": [
                                    {
                                      "contains": [
                                        "@items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['document_item']",
                                        "address_kana"
                                      ]
                                    }
                                  ]
                                },
                                "actions": {
                                  "補完後の住所カナの設定": {
                                    "type": "SetVariable",
                                    "inputs": {
                                      "name": "補完後の住所カナ",
                                      "value": "@items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['document_recovery_value']"
                                    }
                                  }
                                },
                                "else": {
                                  "actions": {}
                                }
                              },
                              "子フローの実行（F05-008_住所マスタ突合）_1": {
                                "type": "Workflow",
                                "inputs": {
                                  "host": {
                                    "workflowReferenceName": "91e9be79-d00b-f111-8406-0022486402c1"
                                  },
                                  "body": {
                                    "text": "@string(body('JSON_の解析(親フローからの情報を解析)'))",
                                    "text_1": "@string(body('JSON_の解析(AIプロンプトの情報を解析)'))",
                                    "text_2": "@string(body('JSON_の解析(属性情報を解析)'))",
                                    "text_3": "@string(outputs('プロンプトを実行する（メイン書類読取り）')?['body/responsev2/predictionOutput/structuredOutput/_5951_7De0d2d6017a24796ccdca1717dbe139d6'])",
                                    "text_4": "@variables('補完後の住所カナ')"
                                  }
                                },
                                "runAfter": {
                                  "住所カナを補完したか": [
                                    "Succeeded"
                                  ]
                                }
                              },
                              "子フローの実行判定_1": {
                                "type": "If",
                                "expression": {
                                  "and": [
                                    {
                                      "equals": [
                                        "@body('子フローの実行（F05-008_住所マスタ突合）_1')?['status']",
                                        "Success"
                                      ]
                                    }
                                  ]
                                },
                                "actions": {
                                  "JSON_の解析_1": {
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('子フローの実行（F05-008_住所マスタ突合）_1')?['回復結果']",
                                      "schema": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "check_result": {
                                              "type": "string"
                                            },
                                            "document_item": {
                                              "type": "string"
                                            },
                                            "document_recovery_value": {
                                              "type": "string"
                                            },
                                            "recovery_reason": {
                                              "type": "string"
                                            },
                                            "recovery_process": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "配列変数に追加_1": {
                                    "type": "Foreach",
                                    "foreach": "@body('JSON_の解析_1')",
                                    "actions": {
                                      "住所カナの回復結果か": {
                                        "type": "If",
                                        "expression": {
                                          "and": [
                                            {
                                              "equals": [
                                                "@items('配列変数に追加_1')?['document_item']",
                                                "@body('JSON_の解析(属性情報を解析)')?['document_item2']"
                                              ]
                                            }
                                          ]
                                        },
                                        "actions": {
                                          "住所カナ回復結果作成(住所漢字・住所カナ補完可)": {
                                            "type": "Compose",
                                            "inputs": {
                                              "check_result": "@{items('配列変数に追加_1')?['check_result']}",
                                              "document_item": "@{items('配列変数に追加_1')?['document_item']}",
                                              "document_recovery_value": "@{items('配列変数に追加_1')?['document_recovery_value']}",
                                              "recovery_reason": "@{items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['recovery_reason']}@{items('配列変数に追加_1')?['recovery_reason']}",
                                              "recovery_process": "@{items('配列変数に追加_1')?['recovery_process']}"
                                            }
                                          },
                                          "住所カナ回復結果を設定（住所マスタ突合）": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                              "name": "一次チェック回復結果",
                                              "value": "@outputs('住所カナ回復結果作成(住所漢字・住所カナ補完可)')"
                                            },
                                            "runAfter": {
                                              "住所カナ回復結果作成(住所漢字・住所カナ補完可)": [
                                                "Succeeded"
                                              ]
                                            }
                                          }
                                        },
                                        "else": {
                                          "actions": {
                                            "郵便番号回復結果作成(住所漢字・住所カナ補完可)": {
                                              "type": "Compose",
                                              "inputs": {
                                                "check_result": "@{items('配列変数に追加_1')?['check_result']}",
                                                "document_item": "@{items('配列変数に追加_1')?['document_item']}",
                                                "document_recovery_value": "@{items('配列変数に追加_1')?['document_recovery_value']}",
                                                "recovery_reason": "@{items('配列変数に追加_1')?['recovery_reason']}",
                                                "recovery_process": "@{items('配列変数に追加_1')?['recovery_process']}"
                                              }
                                            },
                                            "郵便番号回復結果を設定（住所マスタ突合）": {
                                              "type": "AppendToArrayVariable",
                                              "inputs": {
                                                "name": "一次チェック回復結果",
                                                "value": "@outputs('郵便番号回復結果作成(住所漢字・住所カナ補完可)')"
                                              },
                                              "runAfter": {
                                                "郵便番号回復結果作成(住所漢字・住所カナ補完可)": [
                                                  "Succeeded"
                                                ]
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "JSON_の解析_1": [
                                        "SUCCEEDED"
                                      ]
                                    }
                                  }
                                },
                                "else": {
                                  "actions": {
                                    "": {
                                      "type": "Response",
                                      "kind": "PowerApp",
                                      "inputs": {
                                        "schema": {
                                          "type": "object",
                                          "properties": {
                                            "回復結果": {
                                              "title": "回復結果",
                                              "type": "string",
                                              "x-ms-content-hint": "TEXT",
                                              "x-ms-dynamically-added": true
                                            },
                                            "status": {
                                              "title": "status",
                                              "type": "string",
                                              "x-ms-content-hint": "TEXT",
                                              "x-ms-dynamically-added": true
                                            },
                                            "errorinfo": {
                                              "title": "errorInfo",
                                              "type": "string",
                                              "x-ms-content-hint": "TEXT",
                                              "x-ms-dynamically-added": true
                                            }
                                          },
                                          "additionalProperties": {}
                                        },
                                        "statusCode": 200,
                                        "body": {
                                          "回復結果": "@{body('子フローの実行（F05-008_住所マスタ突合）_1')?['回復結果']}",
                                          "status": "@{body('子フローの実行（F05-008_住所マスタ突合）_1')?['status']}",
                                          "errorinfo": "@{body('子フローの実行（F05-008_住所マスタ突合）_1')?['errorinfo']}"
                                        }
                                      }
                                    }
                                  }
                                },
                                "runAfter": {
                                  "子フローの実行（F05-008_住所マスタ突合）_1": [
                                    "SUCCEEDED"
                                  ]
                                }
                              }
                            },
                            "else": {
                              "actions": {
                                "回復結果を設定(住所漢字・住所カナ補完不可)": {
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "一次チェック回復結果",
                                    "value": "@outputs('回復結果作成(住所漢字・住所カナ補完不可)')"
                                  },
                                  "runAfter": {
                                    "回復結果作成(住所漢字・住所カナ補完不可)": [
                                      "Succeeded"
                                    ]
                                  }
                                },
                                "回復結果作成(住所漢字・住所カナ補完不可)": {
                                  "type": "Compose",
                                  "inputs": {
                                    "check_result": "@{items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['check_result']}",
                                    "document_item": "@{body('JSON_の解析(属性情報を解析)')?['document_item2']}",
                                    "document_recovery_value": "@{items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['document_recovery_value']}",
                                    "recovery_reason": "@{items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['recovery_reason']}",
                                    "recovery_process": "@{items('プロンプトを実行する(住所漢字・住所カナ補完)の実行結果')?['recovery_process']}"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "AI実行結果ログの設定_2": [
                            "Succeeded"
                          ]
                        }
                      },
                      "AI実行結果ログの設定_2": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "AI実行結果ログ",
                          "value": "@outputs('プロンプトを実行する(住所漢字・住所カナ補完)')?['body/responsev2/predictionOutput/text']"
                        },
                        "runAfter": {
                          "プロンプトを実行する(住所漢字・住所カナ補完)": [
                            "Succeeded"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "AI実行結果ログの設定_1": [
                  "Succeeded"
                ]
              }
            },
            "JSON_の解析(親フローからの情報を解析)": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "document_ImportRecordId": {
                      "type": "string"
                    },
                    "document_item": {
                      "type": "string"
                    },
                    "document_value": {
                      "type": "string"
                    },
                    "document_selectionId": {
                      "type": "string"
                    },
                    "documentId": {
                      "type": "string"
                    },
                    "document_item_id": {
                      "type": "string"
                    },
                    "document_id": {
                      "type": "string"
                    },
                    "error_flag": {
                      "type": "boolean"
                    },
                    "main_document_url": {
                      "type": "string"
                    },
                    "sub_document_url": {
                      "type": "string"
                    },
                    "error_type": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "JSON_の解析(AIプロンプトの情報を解析)": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['text_1']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "prompt1": {
                      "type": "string"
                    },
                    "prompt2": {
                      "type": "string"
                    },
                    "prompt3": {
                      "type": "string"
                    },
                    "prompt4": {
                      "type": "string"
                    },
                    "prompt5": {
                      "type": "string"
                    },
                    "prompt6": {
                      "type": "string"
                    },
                    "prompt7": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "JSON_の解析(親フローからの情報を解析)": [
                  "Succeeded"
                ]
              }
            },
            "JSON_の解析(属性情報を解析)": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['text_2']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "attribute": {
                      "type": "string"
                    },
                    "search_key_id": {
                      "type": "string"
                    },
                    "document_item1": {
                      "type": "string"
                    },
                    "document_item2": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "JSON_の解析(AIプロンプトの情報を解析)": [
                  "Succeeded"
                ]
              }
            },
            "回復結果を応答": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "回復結果": {
                      "title": "回復結果",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "status": {
                      "title": "status",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "errorinfo": {
                      "title": "errorInfo",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "回復結果": "@{variables('一次チェック回復結果')}",
                  "status": "success"
                }
              },
              "runAfter": {
                "住所漢字と住所カナが一致しているか": [
                  "Succeeded"
                ]
              }
            },
            "AI実行結果ログの設定": {
              "type": "SetVariable",
              "inputs": {
                "name": "AI実行結果ログ",
                "value": "@outputs('プロンプトを実行する（メイン書類読取り）')?['body/responsev2/predictionOutput/text']"
              },
              "runAfter": {
                "プロンプトを実行する（メイン書類読取り）": [
                  "Succeeded"
                ]
              }
            },
            "AI実行結果ログの設定_1": {
              "type": "SetVariable",
              "inputs": {
                "name": "AI実行結果ログ",
                "value": "@outputs('プロンプトを実行する（住所漢字とカナの整合チェック）')?['body/responsev2/predictionOutput/text']"
              },
              "runAfter": {
                "プロンプトを実行する（住所漢字とカナの整合チェック）": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "一次チェック回復結果を初期化する": [
              "Succeeded"
            ]
          }
        },
        "一次チェック回復結果を初期化する": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "一次チェック回復結果",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "補完後の住所カナを初期化する": [
              "Succeeded"
            ]
          }
        },
        "Catch": {
          "type": "Scope",
          "actions": {
            "異常終了を通知": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "回復結果": {
                      "title": "回復結果",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "status": {
                      "title": "status",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "errorinfo": {
                      "title": "errorInfo",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "status": "Failed",
                  "errorinfo": "@{outputs('エラー情報連携用')}"
                }
              },
              "runAfter": {
                "エラー情報連携用": [
                  "SUCCEEDED"
                ]
              }
            },
            "エラー情報連携用": {
              "type": "Compose",
              "inputs": {
                "flowName": "@{workflow().name}",
                "errorTimestamp": "@{convertTimeZone(utcNow(), 'UTC', 'Tokyo Standard Time', 'yyyy-MM-dd HH:mm:ss')}",
                "promptName": "",
                "errorResult": "@{result('Try')}"
              }
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8b86eee-6459-4b01-ba4a-1c74dea764a7"
          }
        },
        "補完後の住所カナを初期化する": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "補完後の住所カナ",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "AI実行結果ログを初期化する": [
              "Succeeded"
            ]
          }
        },
        "AI実行結果ログを初期化する": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AI実行結果ログ",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}