sample_modernflows/e06886a6-1ae2-f011-8406-002248645f63/F-01-001_-E06886A6-1AE2-F011-8406-002248645F63.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_7e256"
        },
        "runtimeSource": "embedded"
      },
      "shared_excelonlinebusiness": {
        "api": {
          "name": "shared_excelonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedexcelonlinebusiness_90ce9"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a15b0"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_65d68"
        },
        "runtimeSource": "embedded"
      },
      "shared_teams": {
        "api": {
          "name": "shared_teams"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_01561"
        },
        "runtimeSource": "embedded"
      },
      "shared_excelonlinebusiness-1": {
        "api": {
          "name": "shared_excelonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedexcelonlinebusiness_e6d57"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "ドキュメント (ca_shared_sharepointonline_e852265dbd1b4725a8ccf05ff09d4da3)": {
          "defaultValue": "ea144458-d381-430d-90bc-7c0d21e8b084",
          "type": "String",
          "metadata": {
            "schemaName": "ca_shared_sharepointonline_e852265dbd1b4725a8ccf05ff09d4da3"
          }
        },
        "Import Share Point Site (ca_ImportSharePointSite)": {
          "defaultValue": "https://stellar2026.sharepoint.com/sites/A_test",
          "type": "String",
          "metadata": {
            "schemaName": "ca_ImportSharePointSite"
          }
        },
        "Import Share Point List (ca_ImportSharePointList)": {
          "defaultValue": "ea144458-d381-430d-90bc-7c0d21e8b084",
          "type": "String",
          "metadata": {
            "schemaName": "ca_ImportSharePointList"
          }
        }
      },
      "triggers": {
        "ファイルが作成または変更されたとき_(プロパティのみ)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
              "table": "@parameters('ドキュメント (ca_shared_sharepointonline_e852265dbd1b4725a8ccf05ff09d4da3)')",
              "folderPath": "/Shared Documents/01_test/01_エラーリスト格納先"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetOnUpdatedFileItems",
              "connectionName": "shared_sharepointonline"
            }
          },
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "51e37add-55e3-4672-ba60-9be2c2a1a859"
          }
        }
      },
      "actions": {
        "変数の初期化：varFolderName": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFolderName",
                "type": "string",
                "value": "@split(triggerOutputs()?['body/{Path}'], '/')[3]"
              }
            ]
          },
          "runAfter": {
            "ファイルの作成": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0c09b9ba-318c-4d7c-81d6-28b577fe86e7"
          }
        },
        "Try": {
          "type": "Scope",
          "actions": {
            "テーブルの取得": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
                  "drive": "b!bmH6a0vhFkCfG98_LiiFzjaleRugULhOlEdqy0I8K2dYRBTqgdMNQ5C8fA0h6LCE",
                  "file": "@outputs('ファイルの作成')?['body/Id']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "GetTables",
                  "connectionName": "shared_excelonlinebusiness"
                }
              },
              "runAfter": {
                "SharePoint_ライブラリからスクリプトを実行する": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "07713055-e751-4799-99df-d436feee83a9",
                "tableId": null
              }
            },
            "Loop：エラーリストExcelのテーブル": {
              "type": "Foreach",
              "foreach": "@outputs('テーブルの取得')?['body/value']",
              "actions": {
                "表内に存在する行を一覧表示": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "source": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
                      "drive": "b!bmH6a0vhFkCfG98_LiiFzjaleRugULhOlEdqy0I8K2dYRBTqgdMNQ5C8fA0h6LCE",
                      "file": "@outputs('ファイルの作成')?['body']?['Id']",
                      "table": "@items('Loop：エラーリストExcelのテーブル')?['name']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                      "operationId": "GetItems",
                      "connectionName": "shared_excelonlinebusiness"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "a564e004-f421-46ac-b8c3-4535669e6770",
                    "tableId": "@items('Loop：エラーリストExcelのテーブル')?['name']"
                  }
                },
                "Loop：エラーリストExcelのレコード": {
                  "type": "Foreach",
                  "foreach": "@outputs('表内に存在する行を一覧表示')?['body/value']",
                  "actions": {
                    "Try_個別処理": {
                      "type": "Scope",
                      "actions": {
                        "変数の設定：varPolicyNumber": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varPolicyNumber",
                            "value": "@items('Loop：エラーリストExcelのレコード')?['証券番号']"
                          },
                          "runAfter": {
                            "変数のリセット：varErrorNameList": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "918bda7c-bef1-4c62-b280-1d4dfbe17e0f"
                          }
                        },
                        "行を一覧にする：エラーリスト管理": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "ca_document_imports",
                              "$filter": "ca_policy_number eq '@{variables('varPolicyNumber')}' and ca_error_type eq '@{variables('varFolderName')}'"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "ListRecords",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          },
                          "runAfter": {
                            "変数の設定：varPolicyNumber": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "03a72344-0ded-4f90-b2eb-4403aa6dbcd5"
                          }
                        },
                        "インポート済み？": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "greaterOrEquals": [
                                  "@length(outputs('行を一覧にする：エラーリスト管理')?['body/value'])",
                                  1
                                ]
                              }
                            ]
                          },
                          "actions": {},
                          "else": {
                            "actions": {
                              "行追加：エラーリスト管理": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "entityName": "ca_document_imports",
                                    "item/ca_error_type": "@variables('varFolderName')",
                                    "item/ca_status_updated_datetime": "@body('現在の時刻')",
                                    "item/ca_is_degimo": false,
                                    "item/ca_batch_number": "@items('Loop：エラーリストExcelのレコード')?['バッチ番号']",
                                    "item/ca_main_document_url": "@body('画像情報取得')?['vermaindocument']",
                                    "item/ca_reportstatus": 1,
                                    "item/ca_vouchertype": 1,
                                    "item/ca_policy_number": "@items('Loop：エラーリストExcelのレコード')?['証券番号']",
                                    "item/ca_sub_document_url": "@body('画像情報取得')?['versubdocuments']",
                                    "item/ca_processing_status": "データ取り込み",
                                    "item/ca_from_name": "@triggerBody()?['{FilenameWithExtension}']",
                                    "item/ca_import_date": "@body('現在の時刻')",
                                    "item/ca_document_url": "@body('画像情報取得')?['versharepointpath']"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "operationId": "CreateRecord",
                                    "connectionName": "shared_commondataserviceforapps"
                                  }
                                },
                                "runAfter": {
                                  "各エラーリスト取込": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "438efe67-1304-4ec8-a653-aa21390560be"
                                }
                              },
                              "現在の時刻": {
                                "type": "Expression",
                                "kind": "CurrentTime",
                                "inputs": {},
                                "metadata": {
                                  "operationMetadataId": "acefa722-533f-45ea-9a08-5cb63f5b936b"
                                }
                              },
                              "各エラーリスト取込": {
                                "type": "Scope",
                                "actions": {
                                  "スイッチ：業務ごとに分岐": {
                                    "type": "Switch",
                                    "expression": "@variables('varFolderName')",
                                    "default": {
                                      "actions": {}
                                    },
                                    "cases": {
                                      "Case：漢字": {
                                        "actions": {
                                          "行追加：漢字エラーリスト": {
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "parameters": {
                                                "entityName": "new_a_kanji_error_lists",
                                                "item/new_a_batch_number": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['バッチ番号']), ''))}\n",
                                                "item/new_a_policy_number": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['証券番号']), ''))}\n",
                                                "item/new_a_apl_status": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['ＡＰＬステータス']), ''))}\n",
                                                "item/new_a_pol_status": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['ＰＯＬ登録予約ステータス']), ''))}\n",
                                                "item/new_a_ltcpr_beneficiary_1_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['介護年金受取人名（漢字）１']), ''))}\n",
                                                "item/new_a_ltcpr_beneficiary_2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['介護年金受取人名（漢字）２']), ''))}\n",
                                                "item/new_a_ltcpr_beneficiary_1_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['介護年金特約受取人１_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_ltcpr_beneficiary_1_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['介護年金特約受取人１_x002e_カナ']), ''))}\n",
                                                "item/new_a_ltcpr_beneficiary_2_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['介護年金特約受取人２_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_ltcpr_beneficiary_2_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['介護年金特約受取人２_x002e_カナ']), ''))}\n",
                                                "item/new_a_agency_code": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['代理店コード']), ''))}\n",
                                                "item/new_a_beneficiary_1_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名１_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_beneficiary_1_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名１_x002e_カナ']), ''))}\n",
                                                "item/new_a_beneficiary_2_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名２_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_beneficiary_2_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名２_x002e_カナ']), ''))}\n",
                                                "item/new_a_beneficiary_3_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名３_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_beneficiary_3_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名３_x002e_カナ']), ''))}\n",
                                                "item/new_a_beneficiary_4_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名４_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_beneficiary_4_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人名４_x002e_カナ']), ''))}\n",
                                                "item/new_a_beneficiary_1_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）１']), ''))}\n",
                                                "item/new_a_beneficiary_1_2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）１－２']), ''))}\n",
                                                "item/new_a_beneficiary_2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）２']), ''))}\n",
                                                "item/new_a_beneficiary_2_2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）２－２']), ''))}\n",
                                                "item/new_a_beneficiary_3_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）３']), ''))}\n",
                                                "item/new_a_beneficiary_3_2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）３－２']), ''))}\n",
                                                "item/new_a_beneficiary_4_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）４']), ''))}\n",
                                                "item/new_a_beneficiary_4_2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['受取人氏名（漢字）４－２']), ''))}\n",
                                                "item/new_a_policyholder_name_kana": "@trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['契約者名']), ''))",
                                                "item/new_a_policyholder_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['契約者名（漢字）']), ''))}\n",
                                                "item/new_a_policyholder_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['契約者名_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_child1_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名１_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_child1_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名１_x002e_カナ']), ''))}\n",
                                                "item/new_a_child2_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名２_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_child2_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名２_x002e_カナ']), ''))}\n",
                                                "item/new_a_child3_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名３_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_child3_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名３_x002e_カナ']), ''))}\n",
                                                "item/new_a_child4_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名４_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_child4_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供名４_x002e_カナ']), ''))}\n",
                                                "item/new_a_child1_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供氏名（漢字）１']), ''))}\n",
                                                "item/new_a_child2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供氏名（漢字）２']), ''))}\n",
                                                "item/new_a_child3_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供氏名（漢字）３']), ''))}\n",
                                                "item/new_a_child4_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['子供氏名（漢字）４']), ''))}\n",
                                                "item/new_a_document_code": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['帳票コード']), ''))}\n",
                                                "item/new_a_claim_agent_1_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['指定代理請求人１_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_claim_agent_1_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['指定代理請求人１_x002e_カナ']), ''))}\n",
                                                "item/new_a_claim_agent_2_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['指定代理請求人２_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_claim_agent_2_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['指定代理請求人２_x002e_カナ']), ''))}\n",
                                                "item/new_a_claim_agent_1_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['指定代理請求人名（漢字）１']), ''))}\n",
                                                "item/new_a_claim_agent_2_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['指定代理請求人名（漢字）２']), ''))}\n",
                                                "item/new_a_underwriting_required_mark": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['有診査マーク']), ''))}\n",
                                                "item/new_a_application_entry_date": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['申込書入力日・年月日']), ''))}\n",
                                                "item/new_a_insured_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['被保険者名_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_insured_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['被保険者名_x002e_カナ']), ''))}\n",
                                                "item/new_a_insured_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['被保険者氏名（漢字）']), ''))}\n",
                                                "item/new_a_branch_office": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['課支社']), ''))}\n",
                                                "item/new_a_pre_conversion_policy_number": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['転換前証券番号']), ''))}\n",
                                                "item/new_a_spouse_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['配偶者名_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_spouse_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['配偶者名_x002e_カナ']), ''))}\n",
                                                "item/new_a_spouse_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['配偶者氏名（漢字）']), ''))}\n",
                                                "item/new_a_excluded_person_error_flag": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['除外者名１_x002e_エラーフラグ']), ''))}\n",
                                                "item/new_a_excluded_person_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['除外者名１_x002e_カナ']), ''))}\n",
                                                "item/new_a_excluded_person_name_kanji": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['除外者氏名（漢字）１除外者名２_x002e_エラーフラグ 除外者名２_x002e_カナ 除外者氏名（漢字）２']), ''))}\n",
                                                "item/new_a_group": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['集団']), ''))}\n"
                                              },
                                              "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                "operationId": "CreateRecord",
                                                "connectionName": "shared_commondataserviceforapps"
                                              }
                                            },
                                            "metadata": {
                                              "operationMetadataId": "4c6e3865-0bdc-40cf-b694-4372a6b3aea9"
                                            }
                                          }
                                        },
                                        "case": "漢字"
                                      },
                                      "Case：住所": {
                                        "actions": {
                                          "行追加：住所エラーリスト": {
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "parameters": {
                                                "entityName": "new_a_address_error_lists",
                                                "item/new_a_msg": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['MSG']), ''))}\n",
                                                "item/new_a_batch_number": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['バッチ番号']), ''))}\n",
                                                "item/new_a_policy_number": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['証券番号']), ''))}\n",
                                                "item/new_a_sts": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['STS']), ''))}\n",
                                                "item/new_a_agency_code": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['代理店コード']), ''))}\n",
                                                "item/new_a_policyholder_postal_code": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['契〒']), ''))}\n",
                                                "item/new_a_policyholder_address_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['契住所']), ''))}\n",
                                                "item/new_a_policyholder_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['契約者名']), ''))}\n",
                                                "item/new_a_document_code": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['帳票コード']), ''))}\n",
                                                "item/new_a_insured_name_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['第一被名']), ''))}\n",
                                                "item/new_a_insured_postal_code": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['被〒']), ''))}\n",
                                                "item/new_a_insured_address_kana": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['被住所']), ''))}\n",
                                                "item/new_a_group_code": "@{trim(coalesce(string(items('Loop：エラーリストExcelのレコード')?['集団コード']), ''))}\n"
                                              },
                                              "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                "operationId": "CreateRecord",
                                                "connectionName": "shared_commondataserviceforapps-1"
                                              }
                                            }
                                          }
                                        },
                                        "case": "住所"
                                      }
                                    },
                                    "metadata": {
                                      "operationMetadataId": "ad10d05c-4287-467b-8fca-c64b98c49203"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "画像情報取得": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "f19ef8df-81e0-4c62-843c-25fa706215d4"
                                }
                              },
                              "詳細データ取込": {
                                "type": "Scope",
                                "actions": {
                                  "Loop：取込項目": {
                                    "type": "Foreach",
                                    "foreach": "@outputs('行を一覧にする：エラーリスト項目マスタ')?['body/value']",
                                    "actions": {
                                      "項目名": {
                                        "type": "Compose",
                                        "inputs": "@items('Loop：取込項目')?['ca_field_name']",
                                        "runAfter": {
                                          "変数のリセット：isErrorFlag": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "e4bdcf8e-1966-4204-a0ef-bc322673a329"
                                        }
                                      },
                                      "変数のリセット：isErrorFlag": {
                                        "type": "SetVariable",
                                        "inputs": {
                                          "name": "isErrorFlag",
                                          "value": false
                                        },
                                        "metadata": {
                                          "operationMetadataId": "736561d0-6e04-4410-a9d9-e63b384c533a"
                                        }
                                      },
                                      "エンコード済み項目名": {
                                        "type": "Compose",
                                        "inputs": "@replace(replace(replace(replace(outputs('項目名'), '.', '_x002e_'), '@', '_x0040_'), ':', '_x003a_'), '#', '_x0023_')",
                                        "runAfter": {
                                          "項目名": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "19139b6d-a162-449e-a7fe-fd1dbdfc7b7f"
                                        }
                                      },
                                      "作成：Excelから項目値取得": {
                                        "type": "Compose",
                                        "inputs": "@coalesce(\r\n  trim(string(items('Loop：エラーリストExcelのレコード')?[outputs('エンコード済み項目名')])),\r\n  ''\r\n)\r\n",
                                        "runAfter": {
                                          "エンコード済み項目名": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "1957693d-23b0-4d22-8844-f6cf66f9b6ea"
                                        }
                                      },
                                      "値に「*」が含まれているか": {
                                        "type": "If",
                                        "expression": {
                                          "and": [
                                            {
                                              "contains": [
                                                "@coalesce(outputs('作成：Excelから項目値取得'),'')",
                                                "*"
                                              ]
                                            }
                                          ]
                                        },
                                        "actions": {
                                          "変数の設定：isErrorFlag": {
                                            "type": "SetVariable",
                                            "inputs": {
                                              "name": "isErrorFlag",
                                              "value": true
                                            },
                                            "metadata": {
                                              "operationMetadataId": "290cd7c0-9114-4db0-a1cf-66f3cfae360b"
                                            }
                                          }
                                        },
                                        "else": {
                                          "actions": {}
                                        },
                                        "runAfter": {
                                          "作成：Excelから項目値取得": [
                                            "Succeeded"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "bf7d6fc2-c792-43e3-b78e-2f8b60e13767"
                                        }
                                      },
                                      "マッピング対象か": {
                                        "type": "If",
                                        "expression": {
                                          "and": [
                                            {
                                              "contains": [
                                                "@variables('varErrorNameList')",
                                                "@items('Loop：取込項目')?['ca_field_name']"
                                              ]
                                            }
                                          ]
                                        },
                                        "actions": {
                                          "行追加：詳細データ管理（マッピング対象）": {
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                              "parameters": {
                                                "entityName": "ca_document_items",
                                                "item/ca_error_flag": true,
                                                "item/ca_status_updated_datetime": "@body('現在の時刻')",
                                                "item/ca_policy_number": "@variables('varPolicyNumber')",
                                                "item/ca_ai_inspection_status": 0,
                                                "item/ca_document_id@odata.bind": "@outputs('行追加：エラーリスト管理')?['body/@odata.id']",
                                                "item/ca_field_id@odata.bind": " @{items('Loop：取込項目')?['@odata.id']}",
                                                "item/ca_document_value": "@outputs('作成：Excelから項目値取得')"
                                              },
                                              "host": {
                                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                "operationId": "CreateRecord",
                                                "connectionName": "shared_commondataserviceforapps"
                                              }
                                            },
                                            "metadata": {
                                              "operationMetadataId": "cae55160-50ce-4678-b472-d3c5974b5dd3"
                                            }
                                          }
                                        },
                                        "else": {
                                          "actions": {
                                            "行追加：詳細データ管理（マッピング対象外）": {
                                              "type": "OpenApiConnection",
                                              "inputs": {
                                                "parameters": {
                                                  "entityName": "ca_document_items",
                                                  "item/ca_error_flag": "@variables('isErrorFlag')",
                                                  "item/ca_status_updated_datetime": "@body('現在の時刻')",
                                                  "item/ca_policy_number": "@variables('varPolicyNumber')",
                                                  "item/ca_ai_inspection_status": 0,
                                                  "item/ca_document_id@odata.bind": "@outputs('行追加：エラーリスト管理')?['body/@odata.id']",
                                                  "item/ca_field_id@odata.bind": " @{items('Loop：取込項目')?['@odata.id']}",
                                                  "item/ca_document_value": "@outputs('作成：Excelから項目値取得')"
                                                },
                                                "host": {
                                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                                  "operationId": "CreateRecord",
                                                  "connectionName": "shared_commondataserviceforapps"
                                                }
                                              },
                                              "metadata": {
                                                "operationMetadataId": "cae55160-50ce-4678-b472-d3c5974b5dd3"
                                              }
                                            }
                                          }
                                        },
                                        "runAfter": {
                                          "値に「*」が含まれているか": [
                                            "Succeeded"
                                          ]
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "マッピング対象のエラーチェック": [
                                        "Succeeded"
                                      ]
                                    },
                                    "runtimeConfiguration": {
                                      "concurrency": {
                                        "repetitions": 40
                                      }
                                    },
                                    "metadata": {
                                      "operationMetadataId": "96d5b73d-bcfc-4589-9eed-b86c88535b22"
                                    }
                                  },
                                  "マッピング対象のエラーチェック": {
                                    "type": "Foreach",
                                    "foreach": "@variables('varEncodedMapping')",
                                    "actions": {
                                      "検索条件合致＆値に「*」が含まれている": {
                                        "type": "If",
                                        "expression": {
                                          "and": [
                                            {
                                              "contains": [
                                                "@string(coalesce(items('Loop：エラーリストExcelのレコード')?[items('マッピング対象のエラーチェック')?['errorFlag']], ''))",
                                                "*"
                                              ]
                                            }
                                          ]
                                        },
                                        "actions": {
                                          "配列変数に追加：varErrorNameList": {
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                              "name": "varErrorNameList",
                                              "value": "@items('マッピング対象のエラーチェック')?['name']"
                                            }
                                          }
                                        },
                                        "else": {
                                          "actions": {}
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "行を一覧にする：エラーリスト項目マスタ": [
                                        "Succeeded"
                                      ]
                                    }
                                  },
                                  "行を一覧にする：エラーリスト項目マスタ": {
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                      "parameters": {
                                        "entityName": "ca_error_list_item_masters",
                                        "$select": "ca_field_id, ca_field_name",
                                        "$filter": "ca_error_type eq '@{variables('varFolderName')}'"
                                      },
                                      "host": {
                                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                        "operationId": "ListRecords",
                                        "connectionName": "shared_commondataserviceforapps"
                                      }
                                    },
                                    "metadata": {
                                      "operationMetadataId": "61b74526-1acd-44d7-9882-8dc71b2b8436"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "行追加：エラーリスト管理": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "bf3ea80d-101a-4d94-940b-6e0c0b9bd75a"
                                }
                              },
                              "画像情報取得": {
                                "type": "Workflow",
                                "inputs": {
                                  "host": {
                                    "workflowReferenceName": "cc44bcbd-6ef6-f011-8406-002248ef7586"
                                  },
                                  "body": {
                                    "text": "@variables('varPolicyNumber')"
                                  }
                                },
                                "runAfter": {
                                  "現在の時刻": [
                                    "Succeeded"
                                  ]
                                },
                                "metadata": {
                                  "operationMetadataId": "a122713a-1ddd-4e76-8f8d-29cfe39ca93f"
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "行を一覧にする：エラーリスト管理": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "250a930d-854b-463c-9666-e0807f854497"
                          }
                        },
                        "変数のリセット：varErrorNameList": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "varErrorNameList",
                            "value": []
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "8cf9e5af-19cb-40b3-afaf-35979878bfa9"
                      }
                    },
                    "Catch_個別処理": {
                      "type": "Scope",
                      "actions": {
                        "個別通知処理": {
                          "type": "Scope",
                          "actions": {
                            "異常終了の通知をチャットまたはチャネルでメッセージを投稿する": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "poster": "Flow bot",
                                  "location": "Channel",
                                  "body/recipient/groupId": "c947730d-4bc1-4be3-aafd-7a5914f08799",
                                  "body/recipient/channelId": "19:NFzljaVrj6LBHQM0QdTEZ0Ccfm2o6rTpwxUFmLGtP5I1@thread.tacv2",
                                  "body/messageBody": "<p class=\"editor-paragraph\">エラーリストの取り込みでエラーが発生しました。<br><br>【異常発生箇所】</p><p class=\"editor-paragraph\">ファイル名：@{triggerBody()?['{FilenameWithExtension}']}<br>証券番号：@{variables('varPolicyNumber')}</p><p class=\"editor-paragraph\">失敗したアクション：@{result('Try_個別処理')?[0]?['name']}</p><p class=\"editor-paragraph\">エラーメッセージ：@{result('Try_個別処理')?[0]?['error']?['message']}</p><p class=\"editor-paragraph\">エラーコード：@{result('Try_個別処理')?[0]?['error']?['code']}<br>&lt;完全なエラー情報&gt;</p><p class=\"editor-paragraph\">@{result('Try_個別処理')}</p>"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                  "operationId": "PostMessageToConversation",
                                  "connectionName": "shared_teams"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "6472b775-be2e-490a-b7b0-527985e9ced4"
                              }
                            }
                          },
                          "runAfter": {
                            "ロールバック処理の実行": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "889e6eb2-7252-40af-a78f-92a2117ecb4c"
                          }
                        },
                        "ロールバック処理の実行": {
                          "type": "Workflow",
                          "inputs": {
                            "host": {
                              "workflowReferenceName": "6c88ed19-6bf6-f011-8406-002248ef7586"
                            },
                            "body": {
                              "text": "@variables('varPolicyNumber')",
                              "text_1": "@variables('varFolderName')"
                            }
                          },
                          "metadata": {
                            "operationMetadataId": "0d333458-3b29-4952-b0c1-151e39055c2b"
                          }
                        }
                      },
                      "runAfter": {
                        "Try_個別処理": [
                          "TimedOut",
                          "Skipped",
                          "Failed"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "3cb2aa8f-8b54-4517-aec0-c9fdae0c2213"
                      }
                    }
                  },
                  "runAfter": {
                    "表内に存在する行を一覧表示": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 20
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "9330dc7b-80aa-4215-82b5-7e9aac0f58b2"
                  }
                }
              },
              "runAfter": {
                "テーブルの取得": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c7df0868-75e4-4ff1-8a30-bc1d3b07a3a6"
              }
            },
            "SharePoint_ライブラリからスクリプトを実行する": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
                  "drive": "b!bmH6a0vhFkCfG98_LiiFzjaleRugULhOlEdqy0I8K2dYRBTqgdMNQ5C8fA0h6LCE",
                  "file": "@outputs('ファイルの作成')?['body/Id']",
                  "scriptSource": "@parameters('Import Share Point List (ca_ImportSharePointList)')",
                  "scriptDrive": "b!bmH6a0vhFkCfG98_LiiFzjaleRugULhOlEdqy0I8K2dYRBTqgdMNQ5C8fA0h6LCE",
                  "scriptId": "01S6JYSXMVRWDCGD3HHRAL6XY45W52CYEH"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "RunScriptProdV2",
                  "connectionName": "shared_excelonlinebusiness-1"
                }
              },
              "runAfter": {
                "マッピング対象項目リストの作成": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "01S6JYSXMVRWDCGD3HHRAL6XY45W52CYEH": "/01_test/テーブル化.osts",
                "tableId": null,
                "operationMetadataId": "cb0abe5c-2a11-4fc8-8485-9986db814f56"
              }
            },
            "マッピング対象項目リストの作成": {
              "type": "Foreach",
              "foreach": "@variables('varMapping')",
              "actions": {
                "配列変数に追加：varMappedColumns-errorFlag": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varMappedColumns",
                    "value": "@replace(replace(replace(replace(items('マッピング対象項目リストの作成')?['errorFlag'], '.', '_x002e_'), '@', '_x0040_'), ':', '_x003a_'), '#', '_x0023_')"
                  },
                  "runAfter": {
                    "配列変数に追加：varEncodedMapping": [
                      "Succeeded"
                    ]
                  }
                },
                "配列変数に追加：varMappedColumns-name": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varMappedColumns",
                    "value": "@replace(replace(replace(replace(items('マッピング対象項目リストの作成')?['name'], '.', '_x002e_'), '@', '_x0040_'), ':', '_x003a_'), '#', '_x0023_')"
                  },
                  "runAfter": {
                    "配列変数に追加：varMappedColumns-errorFlag": [
                      "Succeeded"
                    ]
                  }
                },
                "配列変数に追加：varEncodedMapping": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varEncodedMapping",
                    "value": "@outputs('エンコード済みオブジェクト作成')"
                  },
                  "runAfter": {
                    "エンコード済みオブジェクト作成": [
                      "Succeeded"
                    ]
                  }
                },
                "エンコード済みオブジェクト作成": {
                  "type": "Compose",
                  "inputs": {
                    "errorFlag": "@{replace(replace(replace(replace(items('マッピング対象項目リストの作成')?['errorFlag'], '.', '_x002e_'), '@', '_x0040_'), ':', '_x003a_'), '#', '_x0023_')}",
                    "name": "@{replace(replace(replace(replace(items('マッピング対象項目リストの作成')?['name'], '.', '_x002e_'), '@', '_x0040_'), ':', '_x003a_'), '#', '_x0023_')}"
                  }
                }
              }
            }
          },
          "runAfter": {
            "変数の初期化：varErrorNameList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46d8af85-6eab-407c-94d6-f218000b2d3e"
          }
        },
        "Catch": {
          "type": "Scope",
          "actions": {
            "通知処理": {
              "type": "Scope",
              "actions": {
                "異常終了の通知をチャットまたはチャネルでメッセージを投稿する_1": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "poster": "Flow bot",
                      "location": "Channel",
                      "body/recipient/groupId": "c947730d-4bc1-4be3-aafd-7a5914f08799",
                      "body/recipient/channelId": "19:NFzljaVrj6LBHQM0QdTEZ0Ccfm2o6rTpwxUFmLGtP5I1@thread.tacv2",
                      "body/messageBody": "<p class=\"editor-paragraph\">エラーリストの取り込みでエラーが発生しました。<br><br>【異常発生箇所】</p><p class=\"editor-paragraph\">■ファイル名</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">■アクション履歴</p><br><p class=\"editor-paragraph\">@{outputs('アクションの実行履歴の取得')}</p>"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                      "operationId": "PostMessageToConversation",
                      "connectionName": "shared_teams"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "6472b775-be2e-490a-b7b0-527985e9ced4"
                  }
                }
              },
              "runAfter": {
                "アクションの実行履歴の取得": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "9cea5626-b94b-42cb-8c07-b67c84ee1f02"
              }
            },
            "異常終了": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "runAfter": {
                "通知処理": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "be212f2a-c4ff-47bb-9b15-223b2d8085ff"
              }
            },
            "アクションの実行履歴の取得": {
              "type": "Compose",
              "inputs": "@result('Try')",
              "metadata": {
                "operationMetadataId": "4a8eb5a2-072b-4c1f-a063-d244adbd8980"
              }
            }
          },
          "runAfter": {
            "Try": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "0d6cca6d-e8a0-4792-b4d8-7429bb2ce647"
          }
        },
        "変数の初期化：varPolicyNumber": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varPolicyNumber",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "変数の初期化：varFolderName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "163aea90-2ecf-465e-affe-d6c0e510909e"
          }
        },
        "変数の初期化：isErrorFlag": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "isErrorFlag",
                "type": "boolean",
                "value": false
              }
            ]
          },
          "runAfter": {
            "変数の初期化：varPolicyNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "86a77c86-f512-478d-95cc-344c07be095f"
          }
        },
        "ファイル_コンテンツの取得": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
              "id": "@triggerBody()?['{Identifier}']",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetFileContent",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "a2aa3342-6c9f-475a-8ab9-9a3ddabf403f"
          }
        },
        "ファイルの作成": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "@parameters('Import Share Point Site (ca_ImportSharePointSite)')",
              "folderPath": "/Shared Documents/01_test/02_取込済みエラーリスト格納先",
              "name": "@{split(triggerOutputs()?['body/{Path}'], '/')[3]}エラーリスト_@{utcNow()}.xlsx",
              "body": "@body('ファイル_コンテンツの取得')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CreateFile",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "ファイル_コンテンツの取得": [
              "Succeeded"
            ]
          },
          "runtimeConfiguration": {
            "contentTransfer": {
              "transferMode": "Chunked"
            }
          },
          "metadata": {
            "operationMetadataId": "d04dece5-7842-494e-afe1-b7362834a060"
          }
        },
        "変数の初期化：varMapping": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varMapping",
                "type": "array",
                "value": [
                  {
                    "errorFlag": "契約者名.エラーフラグ",
                    "name": "契約者名（漢字）"
                  },
                  {
                    "errorFlag": "被保険者名.エラーフラグ",
                    "name": "被保険者氏名（漢字）"
                  }
                ]
              }
            ]
          },
          "runAfter": {
            "変数の初期化：isErrorFlag": [
              "Succeeded"
            ]
          }
        },
        "変数の初期化：varMappedColumns": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varMappedColumns",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "変数の初期化：varEncodedMapping": [
              "Succeeded"
            ]
          }
        },
        "変数の初期化：varErrorNameList": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorNameList",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "変数の初期化：varMappedColumns": [
              "Succeeded"
            ]
          }
        },
        "変数の初期化：varEncodedMapping": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varEncodedMapping",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "変数の初期化：varMapping": [
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}