sample_modernflows/9ac6ee46-24da-f011-8544-000d3a4145ae/F-05-003_--9AC6EE46-24DA-F011-8544-000D3A4145AE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a15b0"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "payload情報を連携する",
                  "title": "payload",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "",
                  "title": "点検結果テーブル",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "",
                  "title": "一次チェック回復後データ",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "",
                  "title": "一次チェック判定結果",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "",
                  "title": "一次チェック回復根拠",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "",
                  "title": "詳細データ管理テーブル",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_6": {
                  "description": "",
                  "title": "詳細データ管理テーブルGUID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_3",
                "text_4",
                "text_5",
                "text_2",
                "text_6"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "94875565-1bc2-4df8-b12a-ab8f26738212"
          }
        }
      },
      "actions": {
        "JSON_の解析(親フローからの情報を解析)": {
          "type": "ParseJson",
          "inputs": {
            "content": "@json(triggerBody()?['text'])",
            "schema": {
              "type": "object",
              "properties": {
                "ca_ai_inspection_details": {
                  "type": "string"
                },
                "ca_document_item_id@odata.bind": {
                  "type": "string"
                },
                "ca_prompt_id@odata.bind": {
                  "type": "string"
                },
                "ca_document_item": {
                  "type": "string"
                },
                "ca_inspection_details": {
                  "type": "string"
                }
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4a8c8cc4-7229-44bb-b6cc-683566273bbf"
          }
        },
        "新しい行を追加する(点検結果)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "@triggerBody()?['text_1']",
              "item": "@body('JSON_の解析(親フローからの情報を解析)')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "JSON_の解析(親フローからの情報を解析)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7403eb7a-8a46-4ab7-a79a-59f1f563fc88"
          }
        },
        "応答": {
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@outputs('新しい行を追加する(点検結果)')?['body/ca_aiid']"
          },
          "runAfter": {
            "行の更新(詳細データ管理)-Completed_項目補正": [
              "SUCCEEDED"
            ]
          }
        },
        "詳細データ管理テーブル登録用(Completed_項目補正)": {
          "type": "Compose",
          "inputs": {
            "ca_1st_check_recovery_value": "@{triggerBody()?['text_3']}",
            "ca_1st_check_result": "@equals(triggerBody()?['text_4'],'NG')",
            "ca_1st_check_recovery_reason": "@{triggerBody()?['text_5']}",
            "ca_status_updated_datetime": "@utcNow()",
            "ca_ai_inspection_status": 2
          },
          "runAfter": {
            "新しい行を追加する(点検結果)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e7bf00d5-d355-435a-92cc-bf47c9f3b182"
          }
        },
        "行の更新(詳細データ管理)-Completed_項目補正": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "@triggerBody()?['text_2']",
              "recordId": "@triggerBody()?['text_6']",
              "item": "@outputs('詳細データ管理テーブル登録用(Completed_項目補正)')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateOnlyRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "詳細データ管理テーブル登録用(Completed_項目補正)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "23dd13fb-9775-4317-8c5f-efd5c4e9aeb8"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}