sample_modernflows/eedce8d4-23c1-f011-bbd2-000d3a330200/F-04-001_AIOCR-EEDCE8D4-23C1-F011-BBD2-000D3A330200.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_2c706"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps-1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ca_sharedcommondataserviceforapps_69184"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "行が追加、変更、または削除された場合": {
          "metadata": {
            "operationMetadataId": "7f19f852-626c-446d-9adc-8d3d57865664"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "cre00_import_item",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "cre00_importstatus",
              "subscriptionRequest/filterexpression": "cre00_importstatus eq '画像変換完了'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "インポート管理テーブル登録用(OCR実行中)": {
              "metadata": {
                "operationMetadataId": "49f66107-e852-49cf-a0ee-1465cfe9200c"
              },
              "type": "Compose",
              "inputs": {
                "cre00_importstatus": "OCR実行中"
              }
            },
            "インポート管理テーブル行の更新(OCR実行中)": {
              "runAfter": {
                "インポート管理テーブル登録用(OCR実行中)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "30e39d47-4f9d-49f2-9532-fe10e0adc5df"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "@variables('インポート管理テーブル')",
                  "recordId": "@triggerOutputs()?['body/cre00_import_itemid']",
                  "item": "@outputs('インポート管理テーブル登録用(OCR実行中)')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "IDで書類選択取得": {
              "runAfter": {
                "ID_で行を取得する(書類取込テーブルでodata.idを取得)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "ca77bee6-bd06-40ef-9c06-d6598bbb868a"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "@variables('書類選択テーブル')",
                  "recordId": "@triggerOutputs()?['body/cre00_document_selectionid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "ID_でコード管理取得": {
              "runAfter": {
                "IDで書類選択取得": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "327a8838-5185-4d9c-a644-48296e5fc57b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "@variables('コード管理テーブル')",
                  "recordId": "@outputs('IDで書類選択取得')?['body/_ca_document_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              }
            },
            "コード管理の表示名で分岐": {
              "runAfter": {
                "ID_でコード管理取得": [
                  "Succeeded"
                ]
              },
              "cases": {
                "20.見積書": {
                  "case": "20.見積書",
                  "actions": {
                    "子フローの実行用(AIOCR実行_見積書)": {
                      "metadata": {
                        "operationMetadataId": "a106ac9e-fab7-4b19-8a41-1e28b1929d80"
                      },
                      "type": "Compose",
                      "inputs": {
                        "fileIdentifier": "@{triggerOutputs()?['body/cre00_import_id']}",
                        "aiConfigValue": "@{triggerOutputs()?['body/cre00_aiconfig']}",
                        "documentImportRecordId": "@{triggerOutputs()?['body/cre00_documentid']}",
                        "documentType": "@{triggerOutputs()?['body/cre00_document_type']}"
                      }
                    },
                    "子フローの実行(AIOCR実行_見積書)": {
                      "runAfter": {
                        "子フローの実行用(AIOCR実行_見積書)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "94aff6f3-79db-43b5-9cf6-a7cbfef3e1c4"
                      },
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflowReferenceName": "cb63f25f-64c1-f011-bbd3-000d3a36c479"
                        },
                        "body": {
                          "text": "@string(outputs('子フローの実行用(AIOCR実行_見積書)'))"
                        },
                        "retryPolicy": {
                          "type": "none"
                        }
                      }
                    },
                    "子フローの成功可否(AIOCR実行_見積書)": {
                      "actions": {},
                      "runAfter": {
                        "子フローの実行(AIOCR実行_見積書)": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "Throw": {
                            "metadata": {
                              "operationMetadataId": "3e61380b-48e8-40af-95b8-f304de508ebf"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "例外トリガー",
                              "value": "@null"
                            }
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('子フローの実行(AIOCR実行_見積書)')?['status']",
                              "Success"
                            ]
                          }
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "9a703dd1-40aa-458d-8e00-14cd673d2fad"
                      },
                      "type": "If"
                    },
                    "書類取込テーブル登録用(総ページ数)": {
                      "runAfter": {
                        "子フローの成功可否(AIOCR実行_見積書)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f8a9f15c-ec5c-49b9-9099-d611d89c4d84"
                      },
                      "type": "Compose",
                      "inputs": {
                        "cre00_total_page_count": "@int(outputs('子フローの実行(AIOCR実行_見積書)')?['Body']?['pages'])"
                      }
                    },
                    "書類取込管理テーブル行の更新(総ページ数)": {
                      "runAfter": {
                        "書類取込テーブル登録用(総ページ数)": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "dc7a1806-376e-47ac-9fb5-fc4e47f81f04"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "@variables('書類取込テーブル')",
                          "recordId": "@triggerOutputs()?['body/cre00_documentid']",
                          "item": "@outputs('書類取込テーブル登録用(総ページ数)')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@outputs('ID_でコード管理取得')?['body/ca_display_name']",
              "metadata": {
                "operationMetadataId": "0436254b-5c35-4105-b477-30e395305824"
              },
              "type": "Switch"
            },
            "ID_で行を取得する(書類取込テーブルでodata.idを取得)": {
              "runAfter": {
                "インポート管理テーブル行の更新(OCR実行中)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "6e3cb4b8-b2f3-49c7-b74d-3c1de252fb0b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "@variables('書類取込テーブル')",
                  "recordId": "@triggerOutputs()?['body/cre00_documentid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "インポート管理テーブル登録用(OCR実行完了)": {
              "runAfter": {
                "コード管理の表示名で分岐": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b8f39a6b-9bce-44e0-83b3-65cc8c915694"
              },
              "type": "Compose",
              "inputs": {
                "cre00_importstatus": "OCR実行完了"
              }
            },
            "インポート管理テーブル行の更新(OCR実行完了)": {
              "runAfter": {
                "インポート管理テーブル登録用(OCR実行完了)": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1d79683e-6af3-4200-a484-899de85ff551"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "@variables('インポート管理テーブル')",
                  "recordId": "@triggerOutputs()?['body/cre00_import_itemid']",
                  "item": "@outputs('インポート管理テーブル登録用(OCR実行完了)')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {
            "例外トリガーを初期化する": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "56bc89b3-b147-45a3-8a0b-07e76659f8bb"
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "ロールバック処理": {
              "actions": {
                "インポート管理テーブル登録用(書類取込エラー)": {
                  "metadata": {
                    "operationMetadataId": "7ac465f0-4b54-4433-9a16-925ba3f61a90"
                  },
                  "type": "Compose",
                  "inputs": {
                    "cre00_importstatus": "OCRエラー"
                  }
                },
                "インポート管理テーブル行の更新(書類取込エラー)": {
                  "runAfter": {
                    "インポート管理テーブル登録用(書類取込エラー)": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a2043024-ecbf-4b66-a332-c46d23e1299f"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "@variables('インポート管理テーブル')",
                      "recordId": "@triggerOutputs()?['body/cre00_import_itemid']",
                      "item": "@outputs('インポート管理テーブル登録用(書類取込エラー)')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "d67ad72d-5e80-42c7-ba9d-37d86e459600"
              },
              "type": "Scope"
            },
            "通知処理": {
              "actions": {},
              "runAfter": {
                "ロールバック処理": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "778af39f-fedf-44ac-848f-00110d1eb018"
              },
              "type": "Scope"
            },
            "異常終了": {
              "runAfter": {
                "通知処理": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "09baa3f8-faad-46e3-a226-8a4f63c56135"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "441afe20-f4bd-43a8-a167-7ce457d37c75"
          },
          "type": "Scope"
        },
        "インポート管理テーブルを初期化する": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b8f2fda3-7af1-46be-b7fb-964e65b61592"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "インポート管理テーブル",
                "type": "string",
                "value": "cre00_import_items"
              }
            ]
          }
        },
        "コード管理テーブルを初期化する": {
          "runAfter": {
            "書類選択テーブルを初期化する": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "88c3271f-c399-402a-8736-6096f0b5f965"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "コード管理テーブル",
                "type": "string",
                "value": "ca_code_managements"
              }
            ]
          }
        },
        "書類取込テーブルを初期化する": {
          "runAfter": {
            "インポート管理テーブルを初期化する": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "04fd0667-a4f0-4523-b0e6-ef1b40522743"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "書類取込テーブル",
                "type": "string",
                "value": "ca_document_imports"
              }
            ]
          }
        },
        "書類選択テーブルを初期化する": {
          "runAfter": {
            "書類取込テーブルを初期化する": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "05b09478-3515-40b2-94a3-653d637a69ce"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "書類選択テーブル",
                "type": "string",
                "value": "ca_document_selections"
              }
            ]
          }
        },
        "例外トリガーを初期化する": {
          "runAfter": {
            "コード管理テーブルを初期化する": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e95d2386-ae0e-4284-aa82-357be3c46399"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "例外トリガー",
                "type": "boolean",
                "value": false
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}