sample_modernflows/07447aac-d00b-f111-8406-0022486402c1/F05-005_--07447AAC-D00B-F111-8406-0022486402C1.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_65d68"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_155c9"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c74eb816-818a-4894-819d-456fbd6ced2b"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "入力を指定してください",
                  "title": "payload",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "入力を指定してください",
                  "title": "プロンプト名",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "入力を指定してください",
                  "title": "ナレッジ機能",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "入力を指定してください",
                  "title": "点検結果テーブル",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_4": {
                  "description": "入力を指定してください",
                  "title": "詳細データ管理テーブル",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_5": {
                  "description": "入力を指定してください",
                  "title": "AIプロンプト",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4",
                "text_5"
              ]
            }
          }
        }
      },
      "actions": {
        "Try": {
          "actions": {
            "JSON_の解析(親フローからの情報を解析)": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['text']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "document_ImportRecordId": {
                      "type": "string"
                    },
                    "document_item": {
                      "type": "string"
                    },
                    "document_value": {
                      "type": "string"
                    },
                    "document_selectionId": {
                      "type": "string"
                    },
                    "documentId": {
                      "type": "string"
                    },
                    "document_item_id": {
                      "type": "string"
                    },
                    "document_id": {
                      "type": "string"
                    },
                    "error_flag": {
                      "type": "boolean"
                    },
                    "main_document_url": {
                      "type": "string"
                    },
                    "sub_document_url": {
                      "type": "string"
                    },
                    "error_type": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "JSON_の解析(AIプロンプトの情報を解析)": {
              "runAfter": {
                "JSON_の解析(親フローからの情報を解析)": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['text_5']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "ca_id": {
                      "type": "string"
                    },
                    "ca_ai_promptid": {
                      "type": "string"
                    },
                    "ca_prompt": {
                      "type": "string"
                    },
                    "ca_prompt2": {
                      "type": "string"
                    },
                    "ca_prompt3": {
                      "type": "string"
                    },
                    "ca_prompt4": {
                      "type": "string"
                    },
                    "ca_prompt5": {
                      "type": "string"
                    },
                    "ca_prompt6": {
                      "type": "string"
                    },
                    "ca_prompt7": {
                      "type": "string"
                    },
                    "ca_prompt8": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "郵便番号チェック": {
              "actions": {
                "住所既契約突合チェック": {
                  "actions": {
                    "プロンプトを実行する（既契約有無チェック）": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "recordId": "0079ecff-2f6c-4701-bf30-cdbc0e45e1f5",
                          "item/requestv2/prompt": "@body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt']",
                          "item/requestv2/_8a3c_5238_756a_53f7": "@body('JSON_の解析(親フローからの情報を解析)')?['document_id']",
                          "item/requestv2/Inputdata": "@outputs('登録データを取得する')?['body/value']"
                        },
                        "host": {
                          "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                          "operationId": "aibuilderpredict_customprompt",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    },
                    "条件": {
                      "actions": {
                        "メイン書類の取得": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "https://stellar2026.sharepoint.com/sites/A_test",
                              "path": "@first(json(body('JSON_の解析(親フローからの情報を解析)')?['main_document_url']))['path']",
                              "inferContentType": true
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "GetFileContentByPath",
                              "connectionName": "shared_sharepointonline"
                            }
                          }
                        },
                        "プロンプトを実行する（メイン書類読取り）": {
                          "runAfter": {
                            "メイン書類の取得": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "recordId": "4bc9d56d-9d5a-434d-83d2-6d6a44c8cd81",
                              "item/requestv2/Prompt": "@body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt2']",
                              "item/requestv2/_30e1_30a4_30f3_66f8_985e/base64Encoded": "@base64(body('メイン書類の取得'))"
                            },
                            "host": {
                              "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                              "operationId": "aibuilderpredict_customprompt",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        },
                        "プロンプトを実行する（既契約突合チェック）": {
                          "runAfter": {
                            "AI実行結果ログの設定_1": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "recordId": "79c60a5b-4ccc-4769-b569-bf95eac0dd41",
                              "item/requestv2/prompt": "@body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt3']",
                              "item/requestv2/_751f_5e74_6708_65e5": "@outputs('プロンプトを実行する（既契約有無チェック）')?['body/responsev2/predictionOutput/structuredOutput/_751F_5E6730cab356abb7093cd6d1bd945a4d44']",
                              "item/requestv2/_6c0f_540d_30ab_30ca": "@outputs('プロンプトを実行する（既契約有無チェック）')?['body/responsev2/predictionOutput/structuredOutput/_6C0F_5421bf545c0c26e349adee27a1bbf65b4f']",
                              "item/requestv2/_753b_50cf_60c5_5831": "@outputs('プロンプトを実行する（メイン書類読取り）')?['body/responsev2/predictionOutput/text']",
                              "item/requestv2/inputdata": "@outputs('登録データを取得する')?['body/value']"
                            },
                            "host": {
                              "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                              "operationId": "aibuilderpredict_customprompt",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        },
                        "回復できたか": {
                          "actions": {
                            "回復結果を設定（既契約突合チェック）": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "一次チェック回復結果",
                                "value": "@outputs('プロンプトを実行する（既契約突合チェック）')?['body/responsev2/predictionOutput/structuredOutput/result']"
                              }
                            }
                          },
                          "runAfter": {
                            "AI実行結果ログの設定_2": [
                              "Succeeded"
                            ]
                          },
                          "else": {
                            "actions": {
                              "申込書の住所漢字・住所カナ突合_3": {
                                "actions": {
                                  "子フロー用AIプロンプト_2": {
                                    "type": "Compose",
                                    "inputs": {
                                      "prompt1": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt2']}",
                                      "prompt2": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt4']}",
                                      "prompt3": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt5']}",
                                      "prompt4": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt6']}",
                                      "prompt5": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt7']}",
                                      "prompt6": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt8']}",
                                      "prompt7": ""
                                    }
                                  },
                                  "子フローの実行（F05-006_住所漢字・カナ突合）_2": {
                                    "runAfter": {
                                      "子フロー用AIプロンプト_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Workflow",
                                    "inputs": {
                                      "host": {
                                        "workflowReferenceName": "ff08e2ed-7001-f111-8406-002248ef6599"
                                      },
                                      "body": {
                                        "text": "@string(body('JSON_の解析(親フローからの情報を解析)'))",
                                        "text_1": "@string(outputs('子フロー用AIプロンプト_2'))",
                                        "text_2": "@variables('属性情報')",
                                        "text_3": "@string(outputs('登録データを取得する')?['body/value'])"
                                      }
                                    }
                                  },
                                  "JSON_の解析_2": {
                                    "runAfter": {
                                      "子フローの実行（F05-006_住所漢字・カナ突合）_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                      "content": "@body('子フローの実行（F05-006_住所漢字・カナ突合）_2')?['回復結果']",
                                      "schema": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "check_result": {
                                              "type": "string"
                                            },
                                            "document_item": {
                                              "type": "string"
                                            },
                                            "document_recovery_value": {
                                              "type": "string"
                                            },
                                            "recovery_reason": {
                                              "type": "string"
                                            },
                                            "recovery_process": {
                                              "type": "string"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "配列変数に追加_2": {
                                    "foreach": "@outputs('JSON_の解析_2')['body']",
                                    "actions": {
                                      "回復結果を設定（住所漢字・カナ突合）_2": {
                                        "type": "AppendToArrayVariable",
                                        "inputs": {
                                          "name": "一次チェック回復結果",
                                          "value": "@item()"
                                        }
                                      }
                                    },
                                    "runAfter": {
                                      "JSON_の解析_2": [
                                        "Succeeded"
                                      ]
                                    },
                                    "type": "Foreach"
                                  }
                                },
                                "type": "Scope"
                              }
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@outputs('プロンプトを実行する（既契約突合チェック）')?['body/responsev2/predictionOutput/structuredOutput/_30C1_30016f8ef2d51e418d5fdec99be636cb99']",
                                  "OK"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        },
                        "AI実行結果ログの設定_1": {
                          "runAfter": {
                            "プロンプトを実行する（メイン書類読取り）": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "AI実行結果ログ",
                            "value": "@outputs('プロンプトを実行する（メイン書類読取り）')?['body/responsev2/predictionOutput/text']"
                          }
                        },
                        "AI実行結果ログの設定_2": {
                          "runAfter": {
                            "プロンプトを実行する（既契約突合チェック）": [
                              "Succeeded"
                            ]
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "AI実行結果ログ",
                            "value": "@outputs('プロンプトを実行する（既契約突合チェック）')?['body/responsev2/predictionOutput/text']"
                          }
                        }
                      },
                      "runAfter": {
                        "AI実行結果ログの設定": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "申込書の住所漢字・住所カナ突合_1": {
                            "actions": {
                              "子フロー用AIプロンプト_1": {
                                "type": "Compose",
                                "inputs": {
                                  "prompt1": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt2']}",
                                  "prompt2": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt4']}",
                                  "prompt3": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt5']}",
                                  "prompt4": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt6']}",
                                  "prompt5": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt7']}",
                                  "prompt6": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt8']}",
                                  "prompt7": ""
                                }
                              },
                              "子フローの実行（F05-006_住所漢字・カナ突合）_1": {
                                "runAfter": {
                                  "子フロー用AIプロンプト_1": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Workflow",
                                "inputs": {
                                  "host": {
                                    "workflowReferenceName": "ff08e2ed-7001-f111-8406-002248ef6599"
                                  },
                                  "body": {
                                    "text": "@string(body('JSON_の解析(親フローからの情報を解析)'))",
                                    "text_1": "@string(outputs('子フロー用AIプロンプト_1'))",
                                    "text_2": "@variables('属性情報')",
                                    "text_3": "@string(outputs('登録データを取得する')?['body/value'])"
                                  }
                                }
                              },
                              "JSON_の解析_1": {
                                "runAfter": {
                                  "子フローの実行（F05-006_住所漢字・カナ突合）_1": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                  "content": "@body('子フローの実行（F05-006_住所漢字・カナ突合）_1')?['回復結果']",
                                  "schema": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "check_result": {
                                          "type": "string"
                                        },
                                        "document_item": {
                                          "type": "string"
                                        },
                                        "document_recovery_value": {
                                          "type": "string"
                                        },
                                        "recovery_reason": {
                                          "type": "string"
                                        },
                                        "recovery_process": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "配列変数に追加_1": {
                                "foreach": "@outputs('JSON_の解析_1')['body']",
                                "actions": {
                                  "回復結果を設定（住所漢字・カナ突合）_1": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                      "name": "一次チェック回復結果",
                                      "value": "@item()"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "JSON_の解析_1": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Foreach"
                              }
                            },
                            "type": "Scope"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@outputs('プロンプトを実行する（既契約有無チェック）')?['body/responsev2/predictionOutput/structuredOutput/_751F_5E6730cab356abb7093cd6d1bd945a4d44']",
                                ""
                              ]
                            }
                          },
                          {
                            "not": {
                              "equals": [
                                "@outputs('プロンプトを実行する（既契約有無チェック）')?['body/responsev2/predictionOutput/structuredOutput/_6C0F_5421bf545c0c26e349adee27a1bbf65b4f']",
                                ""
                              ]
                            }
                          },
                          {
                            "equals": [
                              "@outputs('プロンプトを実行する（既契約有無チェック）')?['body/responsev2/predictionOutput/structuredOutput/_30C1_30016f8ef2d51e418d5fdec99be636cb99']",
                              "既契約データあり"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "AI実行結果ログの設定": {
                      "runAfter": {
                        "プロンプトを実行する（既契約有無チェック）": [
                          "Succeeded"
                        ]
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AI実行結果ログ",
                        "value": "@outputs('プロンプトを実行する（既契約有無チェック）')?['body/responsev2/predictionOutput/text']"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "contains": [
                          "@body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_id']",
                          "住所既契約突合チェック"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "属性情報の設定": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "郵便番号のエラーフラグチェック": {
                    "actions": {
                      "住所漢字・カナ突合チェック": {
                        "actions": {
                          "申込書の住所漢字・住所カナ突合": {
                            "actions": {
                              "子フロー用AIプロンプト": {
                                "type": "Compose",
                                "inputs": {
                                  "prompt1": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt']}",
                                  "prompt2": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt2']}",
                                  "prompt3": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt3']}",
                                  "prompt4": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt4']}",
                                  "prompt5": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt5']}",
                                  "prompt6": "@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt6']}",
                                  "prompt7": ""
                                }
                              },
                              "子フローの実行（F05-006_住所漢字・カナ突合）": {
                                "runAfter": {
                                  "子フロー用AIプロンプト": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Workflow",
                                "inputs": {
                                  "host": {
                                    "workflowReferenceName": "ff08e2ed-7001-f111-8406-002248ef6599"
                                  },
                                  "body": {
                                    "text": "@string(body('JSON_の解析(親フローからの情報を解析)'))",
                                    "text_1": "@string(outputs('子フロー用AIプロンプト'))",
                                    "text_2": "@variables('属性情報')",
                                    "text_3": "@string(outputs('登録データを取得する')?['body/value'])"
                                  }
                                }
                              },
                              "JSON_の解析": {
                                "runAfter": {
                                  "子フローの実行（F05-006_住所漢字・カナ突合）": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "ParseJson",
                                "inputs": {
                                  "content": "@body('子フローの実行（F05-006_住所漢字・カナ突合）')?['回復結果']",
                                  "schema": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "check_result": {
                                          "type": "string"
                                        },
                                        "document_item": {
                                          "type": "string"
                                        },
                                        "document_recovery_value": {
                                          "type": "string"
                                        },
                                        "recovery_reason": {
                                          "type": "string"
                                        },
                                        "recovery_process": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "配列変数に追加": {
                                "foreach": "@body('JSON_の解析')",
                                "actions": {
                                  "回復結果を設定（住所漢字・カナ突合）": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                      "name": "一次チェック回復結果",
                                      "value": "@item()"
                                    }
                                  }
                                },
                                "runAfter": {
                                  "JSON_の解析": [
                                    "Succeeded"
                                  ]
                                },
                                "type": "Foreach"
                              }
                            },
                            "type": "Scope"
                          }
                        },
                        "else": {
                          "actions": {}
                        },
                        "expression": {
                          "and": [
                            {
                              "contains": [
                                "@body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_id']",
                                "住所漢字・カナ突合チェック"
                              ]
                            }
                          ]
                        },
                        "type": "If"
                      }
                    },
                    "else": {
                      "actions": {
                        "文字数超過チェック": {
                          "actions": {
                            "エラー回復(文字数調整)": {
                              "actions": {
                                "子フローの実行(文字数超過チェック)": {
                                  "metadata": {
                                    "operationMetadataId": "82b0bb89-83ca-4171-927d-d3c24ef788be"
                                  },
                                  "type": "Workflow",
                                  "inputs": {
                                    "host": {
                                      "workflowReferenceName": "92c9430a-9f01-f111-8406-002248ef6599"
                                    },
                                    "body": {
                                      "text": "@string(outputs('登録データを取得する')?['body/value'])",
                                      "text_2": "@triggerBody()?['text_2']",
                                      "text_5": "@body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_prompt']",
                                      "text_1": "''"
                                    }
                                  }
                                },
                                "回復結果作成（文字数超過チェック）": {
                                  "runAfter": {
                                    "子フローの実行(文字数超過チェック)": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "Compose",
                                  "inputs": {
                                    "check_result": "@{body('子フローの実行(文字数超過チェック)')?[0]?['check_result']}",
                                    "document_item": "@{body('子フローの実行(文字数超過チェック)')?[0]?['document_item']}",
                                    "document_recovery_value": "@{body('子フローの実行(文字数超過チェック)')?[0]?['document_recovery_value']}",
                                    "recovery_reason": "@{body('子フローの実行(文字数超過チェック)')?[0]?['recovery_reason']}",
                                    "recovery_process": "@{body('子フローの実行(文字数超過チェック)')?[0]?['recovery_process']}"
                                  }
                                },
                                "回復結果を設定(文字数超過チェック)": {
                                  "runAfter": {
                                    "回復結果作成（文字数超過チェック）": [
                                      "Succeeded"
                                    ]
                                  },
                                  "type": "AppendToArrayVariable",
                                  "inputs": {
                                    "name": "一次チェック回復結果",
                                    "value": "@outputs('回復結果作成（文字数超過チェック）')"
                                  }
                                }
                              },
                              "type": "Scope"
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "expression": {
                            "and": [
                              {
                                "contains": [
                                  "@body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_id']",
                                  "文字数超過チェック"
                                ]
                              }
                            ]
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@body('JSON_の解析(親フローからの情報を解析)')?['error_flag']",
                            true
                          ]
                        }
                      ]
                    },
                    "type": "If"
                  }
                }
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@body('JSON_の解析(親フローからの情報を解析)')?['document_value']",
                      "000"
                    ]
                  },
                  {
                    "equals": [
                      "@body('JSON_の解析(親フローからの情報を解析)')?['document_value']",
                      "*000"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "d365d314-dd60-429f-8e74-fd412110d5eb"
              },
              "type": "If"
            },
            "登録データを取得する": {
              "runAfter": {
                "JSON_の解析(AIプロンプトの情報を解析)": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ca_registered_datas",
                  "$select": "ca_sts, ca_policyholder_name_kana, ca_policyholder_birthday, ca_policyholder_address_kana, ca_insured_name_kana, ca_insured_birthday, ca_insured_address_kana\n",
                  "$filter": "ca_policy_number eq '@{body('JSON_の解析(親フローからの情報を解析)')?['document_id']}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "F-05-003_項目補正-点検結果登録": {
              "foreach": "@variables('一次チェック回復結果')",
              "actions": {
                "JSON_の解析（回復結果）": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('F-05-003_項目補正-点検結果登録')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "check_result": {
                          "type": "string"
                        },
                        "document_item": {
                          "type": "string"
                        },
                        "document_recovery_value": {
                          "type": "string"
                        },
                        "recovery_reason": {
                          "type": "string"
                        },
                        "recovery_process": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "更新対象のレコードを取得する": {
                  "runAfter": {
                    "JSON_の解析（回復結果）": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "ca_document_items",
                      "$select": "ca_policy_number, _ca_field_id_value, ca_document_value, ca_document_itemid",
                      "$filter": "ca_policy_number eq '@{body('JSON_の解析(親フローからの情報を解析)')?['document_id']}' and ca_field_id/ca_field_id eq '@{body('JSON_の解析（回復結果）')?['document_item']}'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "点検結果テーブル登録用": {
                  "runAfter": {
                    "更新対象のレコードを取得する": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "72af54cf-fdd1-4ffd-be22-7be61c55939e"
                  },
                  "type": "Compose",
                  "inputs": {
                    "ca_ai_inspection_details": "@{body('JSON_の解析（回復結果）')}",
                    "ca_document_item_id@odata.bind": "ca_document_items(@{body('JSON_の解析(親フローからの情報を解析)')?['document_item_id']})",
                    "ca_prompt_id@odata.bind": "ca_ai_prompts(@{body('JSON_の解析(AIプロンプトの情報を解析)')?['ca_ai_promptid']})",
                    "ca_document_item": "@{body('JSON_の解析(親フローからの情報を解析)')?['document_item']}",
                    "ca_inspection_details": "@{body('JSON_の解析(親フローからの情報を解析)')?['document_id']} @{body('JSON_の解析（回復結果）')?['recovery_process']}"
                  }
                },
                "子フローの実行（F-05-003_項目補正-点検結果登録）": {
                  "runAfter": {
                    "点検結果テーブル登録用": [
                      "Succeeded"
                    ]
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "9ac6ee46-24da-f011-8544-000d3a4145ae"
                    },
                    "body": {
                      "text": "@string(outputs('点検結果テーブル登録用'))",
                      "text_1": "@triggerBody()?['text_3']",
                      "text_3": "@body('JSON_の解析（回復結果）')?['document_recovery_value']",
                      "text_4": "@body('JSON_の解析（回復結果）')?['check_result']",
                      "text_5": "@body('JSON_の解析（回復結果）')?['recovery_reason']",
                      "text_2": "@triggerBody()?['text_4']",
                      "text_6": "@first(body('更新対象のレコードを取得する')?['value'])?['ca_document_itemid']\r\n"
                    }
                  }
                }
              },
              "runAfter": {
                "郵便番号チェック": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "属性情報の設定": {
              "runAfter": {
                "登録データを取得する": [
                  "Succeeded"
                ]
              },
              "cases": {
                "契約者": {
                  "case": "02_policyholder_postal_code",
                  "actions": {
                    "属性情報(契約者)の設定": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "属性情報",
                        "value": "{\n  \"attribute\": \"契約者\",\n  \"search_key_id\": \"ca_policyholder_address_kana\",\n  \"document_item1\": \"02_policyholder_postal_code\",\n  \"document_item2\": \"02_policyholder_address_kana\"\n}"
                      }
                    }
                  }
                },
                "被保険者": {
                  "case": "02_insured_postal_code",
                  "actions": {
                    "属性情報(被保険者)の設定": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "属性情報",
                        "value": "{\n  \"attribute\": \"被保険者\",\n  \"search_key_id\": \"ca_insured_address_kana\",\n  \"document_item1\": \"02_insured_postal_code\",\n  \"document_item2\": \"02_insured_address_kana\"\n}"
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@body('JSON_の解析(親フローからの情報を解析)')?['document_item']",
              "type": "Switch"
            },
            "正常終了を通知": {
              "runAfter": {
                "F-05-003_項目補正-点検結果登録": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d4fd4b65-88e8-43ad-a717-65519f969eb5"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "title": "status",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "promptname": {
                      "title": "promptName",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "errorresult": {
                      "title": "errorResult",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "status": "Success",
                  "promptname": "@{triggerBody()?['text_1']}"
                }
              }
            }
          },
          "runAfter": {
            "属性情報を初期化する": [
              "Succeeded"
            ]
          },
          "type": "Scope"
        },
        "Catch": {
          "actions": {
            "異常終了を通知": {
              "runAfter": {
                "通知処理": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "d4fd4b65-88e8-43ad-a717-65519f969eb5"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "title": "status",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    },
                    "promptname": {
                      "title": "promptName",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "errorresult": {
                      "title": "errorResult",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "status": "Failed",
                  "promptname": "@{triggerBody()?['text_1']}",
                  "errorresult": "@{result('Try')}"
                }
              }
            },
            "ロールバック処理": {
              "actions": {
                "AI点検結果を削除": {
                  "foreach": "@variables('登録ID')",
                  "actions": {
                    "行を削除する": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "@triggerBody()?['text_3']",
                          "recordId": "@items('AI点検結果を削除')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "DeleteRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "d49a22c9-9453-4bc8-91c3-b17b663a0720"
                  },
                  "type": "Foreach"
                },
                "詳細データ管理テーブル登録用(Failed)": {
                  "runAfter": {
                    "AI点検結果を削除": [
                      "Succeeded",
                      "TimedOut",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "984d7f81-5091-4fce-8cc6-48c0b274abac"
                  },
                  "type": "Compose",
                  "inputs": {
                    "ca_ai_inspection_status": 3
                  }
                },
                "行の更新": {
                  "runAfter": {
                    "詳細データ管理テーブル登録用(Failed)": [
                      "Succeeded",
                      "TimedOut",
                      "Skipped",
                      "Failed"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "@triggerBody()?['text_4']",
                      "recordId": "@body('JSON_の解析(親フローからの情報を解析)')?['document_item_id']",
                      "item": "@outputs('詳細データ管理テーブル登録用(Failed)')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "metadata": {
                "operationMetadataId": "9fe62fa1-b234-4e87-97f5-09b50a85f34d"
              },
              "type": "Scope"
            },
            "通知処理": {
              "actions": {},
              "runAfter": {
                "ロールバック処理": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "20dde546-80ff-40fe-be7c-4d3e693ce5ba"
              },
              "type": "Scope"
            },
            "終了_1": {
              "runAfter": {
                "異常終了を通知": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "d1215ca6-2a1d-4982-8c97-c9c8b0efbbcd"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Try": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "d8b86eee-6459-4b01-ba4a-1c74dea764a7"
          },
          "type": "Scope"
        },
        "登録IDを初期化する": {
          "runAfter": {
            "AI実行結果ログを初期化する": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "登録ID",
                "type": "array"
              }
            ]
          }
        },
        "一次チェック回復結果を初期化する": {
          "runAfter": {
            "住所カナ制限文字数を初期化する": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "一次チェック回復結果",
                "type": "array"
              }
            ]
          }
        },
        "属性情報を初期化する": {
          "runAfter": {
            "一次チェック回復結果を初期化する": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "属性情報",
                "type": "string"
              }
            ]
          }
        },
        "住所カナ制限文字数を初期化する": {
          "runAfter": {
            "登録IDを初期化する": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "制限文字数",
                "type": "integer"
              }
            ]
          }
        },
        "AI実行結果ログを初期化する": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AI実行結果ログ",
                "type": "string"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}