sample_modernflows/6004d1f3-a617-f111-8341-6045bd528a8a/AIF-00-002_-6004D1F3-A617-F111-8341-6045BD528A8A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_a15b0"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_c6193"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          },
          "metadata": {
            "operationMetadataId": "94875565-1bc2-4df8-b12a-ab8f26738212"
          }
        }
      },
      "actions": {
        "AI個別検証用テーブルデータでループ": {
          "type": "Foreach",
          "foreach": "@outputs('AI個別検証用テーブルの取得')?['body/value']",
          "actions": {
            "AIプロンプトテーブルデータ": {
              "type": "Foreach",
              "foreach": "@outputs('AIプロンプトテーブルの取得')?['body/value']",
              "actions": {
                "AI出力結果の設定": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "AI出力結果",
                    "value": "@outputs('プロンプトを実行する(カナ不整合チェック)')?['body/responsev2/predictionOutput/text']"
                  },
                  "runAfter": {
                    "プロンプトを実行する(カナ不整合チェック)": [
                      "Succeeded"
                    ]
                  }
                },
                "AI出力結果の更新": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "ca_ai_tests",
                      "recordId": "@items('AI個別検証用テーブルデータでループ')?['ca_ai_testid']",
                      "item/ca_ai_result": "@variables('AI出力結果')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "AI出力結果の設定": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "23dd13fb-9775-4317-8c5f-efd5c4e9aeb8"
                  }
                },
                "プロンプトを実行する(カナ不整合チェック)": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "recordId": "5b6607d6-4293-4896-9264-e4c46f8dd74d",
                      "item/requestv2/_6f22_5b57": "@items('AI個別検証用テーブルデータでループ')?['ca_address_kanji']",
                      "item/requestv2/_30ab_30ca": "@items('AI個別検証用テーブルデータでループ')?['ca_address_kana']",
                      "item/requestv2/Prompt": "@items('AIプロンプトテーブルデータ')?['ca_prompt']"
                    },
                    "host": {
                      "apiId": "providers/Microsoft.ProcessSimple/operationGroups/aibuilder",
                      "operationId": "aibuilderpredict_customprompt",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "c98113a5-4c94-48cf-ba5c-2180e713bc84",
                    "flowSystemMetadata": {
                      "portalOperationApiDisplayNameOverride": "AI Builder",
                      "portalOperationIconOverride": "https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png",
                      "portalOperationBrandColorOverride": "#0A76C4",
                      "portalOperationApiTierOverride": "Standard"
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "AIプロンプトテーブルの取得": [
              "Succeeded"
            ]
          }
        },
        "AI個別検証用テーブルの取得": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "ca_ai_tests",
              "$filter": "ca_test_perspective eq 'AI漢字カナ不整合検証のみ'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "AI出力結果を初期化する": [
              "Succeeded"
            ]
          }
        },
        "AIプロンプトテーブルの取得": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "ca_ai_prompts",
              "$filter": "ca_id eq '契約者カナ不整合チェック'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "AI個別検証用テーブルの取得": [
              "Succeeded"
            ]
          }
        },
        "AI出力結果を初期化する": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "AI出力結果",
                "type": "string"
              }
            ]
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}